<div class="container">
  <h1 style="text-align: center; margin-top: 10%;">Video</h1>
  <div class="video-style">
    <div class="row" >
      <div class="col-md-12" *ngFor="let list of videos">
        <video width="800" controls>
          <source src="../../assets/video/small.mp4">
        </video>
          <h4 style="margin-top: 20px;">{{list.videoTitle}}</h4>
      </div>
    </div>
  </div>

  <pagination-controls style="text-align: center;"></pagination-controls>

  <div class="btn-class">
    <a [routerLink]="['/']">
    <button class="btn btn-dark">Back to home</button>
  </a>
  </div>
</div>

