<div class="container">
  <form action="">
    <div class="form-gift">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="exampleInputEmail1">File Video</label>
            <input type="file" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Address">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </div>
   </div>
   <button class="btn btn-dark" style="margin-left: 30%; margin-top: 50px;" (click)='onSignOut()' >Logout</button>
  </form>
</div>
