/* You can add global styles to this file, and also import other style files */
.body {
  background-image: url(./assets/img/Undangan_Viktor.png);
  background-size: cover;
}

.title-text {
  display: flex;
  margin-top: 30px;
  color: #194350;
  justify-content: center;
}

.title {
  text-align: center;
  display: block;
  justify-content: center;
  margin-top: 40%;
}

.img-live {
  margin-top: 5px;
  width: 100px;
  margin-left: 35%;
  margin-bottom: 10px;
}

.img-live2 {
  margin-top: 5px;
  width: 100px;
  margin-left: 40%;
  margin-bottom: 10px;
}

.p-title {
  font-style: oblique;
  font-size: 20px;
  margin-left: 32%;
}

.p-title2 {
  font-style: oblique;
  font-size: 20px;
  margin-left: 36%;
}

.p-title-video {
  font-style: oblique;
  font-size: 20px;
  margin-left: 44%;
}

.p-title-gift {
  font-style: oblique;
  font-size: 20px;
  margin-left: 39%;
}

.p-title-mapsholy {
  font-style: oblique;
  font-size: 20px;
  margin-left: 28%;
}

.p-content {
  margin-left: 23%;
}

.video-style {
  margin-top: 3%;
  text-align: center;
}

.btn-class {
  text-align: center;
}

.form-gift {
  margin-top: 18%;
  margin-left: 30%;
}

#login .container #login-row #login-column #login-box {
  margin-top: 120px;
  max-width: 600px;
  height: 320px;
  border: 1px solid #9c9c9c;
  background-color: #eaeaea;
}
#login .container #login-row #login-column #login-box #login-form {
  padding: 20px;
}
#login
  .container
  #login-row
  #login-column
  #login-box
  #login-form
  #register-link {
  margin-top: -85px;
}
