<form action="">
 <div class="form-group text-center mt-2">
    <label for="exampleFormControlSelect1">Select Language : &nbsp; </label>
    <select class="form-control-sm" id="exampleFormControlSelect1">
      <option>English</option>
      <option>Indonesia</option>
    </select>
  </div>
</form>

<div class="title-text">
  <h1>Eka <img class="img-text" src="../../assets/img/EV Icon.png" alt="">Viktor </h1>
</div>

<div class="container" style="margin-top: 2px;">
  <!-- row 1  -->
  <div class="row">
    <div class="col-md-6">
      <img class="img-live" src="../../assets/img/Icon Live.png" alt="">
      <p class="p-title"> <b>Live Streaming</b> </p>
      <p class="p-content">Click here to witness our matrimony</p>
    </div>
    <div class="col-md-6">
      <a [routerLink]="['/video']" >
      <img class="img-live2" src="../../assets/img/Icon Video.png" alt="">
    </a>
      <p class="p-title-video"> <b>Video</b> </p>
      <p class="p-content">Click on it to see everything what happened</p>
    </div>
  </div>

  <!-- row 2  -->
  <div class="row">
    <div class="col-md-6">
      <img class="img-live" src="../../assets/img/Icon Photo Gallery.png" alt="">
      <p class="p-title"> <b>Photo Galery</b> </p>
      <p style="margin-left: 29%;">Click to view our photo</p>
    </div>
    <div class="col-md-6">
      <a [routerLink]="['/gift-form']">
        <img class="img-live2" src="../../assets/img/Icon Gift Registry.png" alt="">
      </a>
      <p class="p-title-gift"> <b>Gift Registry</b> </p>
      <p style="margin-left: 30%;">Click if you wish to get us a gift</p>
    </div>
  </div>

  <!-- row 3 -->
  <div class="row">
    <div class="col-md-6">
      <a href="{{map}}">
      <img class="img-live" src="../../assets/img/Icon Maps.png" alt="">
    </a>
      <p class="p-title-mapsholy"> <b>Maps Holy Matrimony</b> </p>
      <p style="margin-left: 25%;">Click if you need help of location</p>
    </div>
    <div class="col-md-6">
      <a href="{{mapReception}}">
      <img class="img-live2" src="../../assets/img/Icon Maps Reception.png" alt="">
    </a>
      <p class="p-title2"> <b>Maps Reception</b> </p>
      <p style="margin-left: 30%;">Click if you need help of location</p>
    </div>
  </div>
</div>

<div>
  <br>
  <p style="text-align: center;">Note : Capture some photos and don't forget to use to help us view all of your wonderful smiles ! </p>
</div>


<!-- <div>
  <h2 class="title-header">Eka &nbsp; <span class="icon-text"> EV </span> &nbsp; Viktor</h2>
</div>

<div>
  <h3 class="title-text">INFORMATION</h3>
</div>

<form #dataUser="ngForm">
  <div class="container container-content text-center">
    <input type="text" name="name" [(ngModel)]="dataUser.name">
  </div>

  {{dataUser.value | json}}
</form>


<div class="container container-content text-center">
  <div class="row">
    <div class="col-md-6">
      <button class="btn btn-primary">Live</button>
    </div>
    <div class="col-md-6">
      <button class="btn btn-info">video streaming</button>
    </div>
  </div>
</div>

<div class="container container-content text-center">
  <div class="row">
    <div class="col-md-6">
      <button class="btn btn-primary">Photo Galery</button>
    </div>
    <div class="col-md-6">
      <button class="btn btn-info" [routerLink]="['/gift-form']" routerLinkActive="router-link-active" >Gift Registry</button>
    </div>
  </div>
</div>

<div class="container container-content text-center">
  <div class="row">
    <div class="col-md-6">
      <button class="btn btn-primary">Maps Holy</button>
    </div>
    <div class="col-md-6">
      <button class="btn btn-info">Map reception</button>
    </div>
  </div>
</div>

<div class="container container-content">
  <p>Note : Capture some photos</p>
</div>
 -->
